@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Fredoka One', sans-serif;
    color: hsl(0, 57%, 95%);
    background-color: hsl(0, 79%, 72%);
}

h1 {
    color: hsl(0, 57%, 95%);
    font-size: 35pt;
    text-shadow: 5px 5px 8px hsl(0, 79%, 67%), 
    -4px -4px 8px hsl(0, 79%, 78%);
    margin: 8px;
    padding: 0;
}

button {
    border-radius: 25px;
    margin: 0px;
    padding: 15px;
    border: none;
    background-color: hsl(0, 79%, 72%);
    box-shadow: 
    5px 5px 12px hsl(0, 79%, 67%), 
    -5px -5px 12px hsl(0, 79%, 78%);
    font-family: inherit;
    color: inherit;
    font-size: medium;
    font-weight: 400;
    
}

button:hover {
    color: hsl(0, 47%, 53%)
}

button:active {
    box-shadow: 
    -5px -5px 15px hsl(0, 79%, 67%), 
    5px 5px 15px hsl(0, 79%, 80%);
}

.hide {
    display: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: hsl(0, 47%, 53%);
}

.visualFeed {
    font-size: x-large;
    text-shadow: 3px 3px 6px hsl(0, 79%, 67%);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

.scoreText {
    font-size: larger;
}